{% extends 'base.html' %}

{# Imposta un titolo specifico per questa pagina #}
{% block title %}Chat AI - Osservatorio Busto Arsizio{% endblock %}

{# Inserisci il contenuto della chat nel blocco 'content' #}
{% block content %}
    <div class="container chat-container"> {# Aggiunta classe specifica per la chat #}
        <header>
            <div class="header-content">
                 <!-- Rimosso logo da qui, è nella sidebar -->
                 <div class="titles">
                    <h1>OSSERVATORIO STATISTICO BUSTO ARSIZIO</h1>
                    <h2>Fai domande sui dati pubblici della città sulle uscite, pagamenti</h2>
                </div>
            </div>
        </header>

        <div class="chat-window" id="chat-window">
            <div class="message bot-message">
               <p>Ciao! Sono il tuo assistente sull'analisi dei pagamenti del Comune di Busto Arsizio. Chiedimi qualcosa sulle spese.</p>
               <p>Nota: Per analisi aggregate consulta il <a href="https://lookerstudio.google.com/u/0/reporting/13b653b0-06e4-44fa-9d33-b4f05a13ecef/page/hRYIF" target="_blank">cruscotto</a>.</p>
           </div>
            <!-- Altri messaggi verranno aggiunti qui dinamicamente -->
       </div>

        <div class="suggested-questions-container" id="suggested-questions">
            <button class="suggested-question">Quanti pagamenti ha ricevuto Maggioli SPA nel 2022?</button>
            <button class="suggested-question">Quanto si è speso per AGESP nel 2023?</button>
            <button class="suggested-question">Principali fornitori 2023?</button>
            <button class="suggested-question">Spese consulenze legali 2022?</button>
        </div>

        <div class="input-area">
            <input type="text" id="user-input" placeholder="Quanto spende il Comune per...">
            <button id="send-button">Invia</button>
        </div>

    </div>
{% endblock %}

{# Eventuali script specifici solo per la pagina della chat (per ora nessuno) #}
{% block scripts %}
    {# <script src="{{ url_for('static', filename='chat_specific.js') }}"></script> #}
{% endblock %}